h1
{
    font-family: 'Poppins';
    font-weight: 700 !important;
    //text-transform: uppercase;
    //text-shadow: 0 2px 6px rgba(0, 0, 0, .6) !important;
}

h2 
{
    font-family: poppins;
}

.surtitre
{
    font-size: 18px !important;
    line-height: 20px !important;   
    
    @include breakpoint(min, medium) {
        font-size: 28px !important;
        line-height: 26px !important;  
    }; 
}

.label
{
    position: absolute;
    top:-15px;
    left: 25px;
    background: white;
    padding: 0 5px 1px 8px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    transform: rotate(-10deg);

    @include breakpoint(min, medium) {
        top:-15px;
        font-size: 24px;
    }; 
}


h3 
{
   
    font-size: 30px !important;
    font-family: 'Oswald';
    font-weight: 900 !important;
    line-height: 100%;
    font-style: italic;

    @include breakpoint(min, medium) {
        
        font-size: 50px !important;
        
        
    
    }; 

    span 
    { 
        display: block; 
        margin-top: 20px;
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
        text-shadow: none;
    }
}

#onetrust-consent-sdk h3,
#ot-dpd-title,
#ot-dpd-title
{
    font-size: inherit!important;
}

h4
{
    font-family: 'caprasimo';
    font-size: 20px !important;

    @include breakpoint(min, medium) {
        font-family: 'caprasimo';
        font-size: 26px !important;
    }; 
}

h5
{
    font-weight: 700 !important;
}

.intro p
{
    font-style: normal;
    color: #ffffff;
}

.credits p
{
    font-style: normal;
}

p
{
    
    //font-style: italic;
    //font-size: 20px ;
    font-weight: 100;
    line-height: 1.625 !important;

    b 
    { 
        font-weight: 700; 

        &.ab { color: #e40521; text-decoration: underline; text-decoration-thickness: 3px; }
        &.js { color: #007fcd; text-decoration: underline; text-decoration-thickness: 3px; }
    }

   
}

blockquote
{
}

.lettrine:first-letter
{
    
    font-size: 570%;
    font-weight: 600;
    //border : 1px solid red;
    float : left;
    margin-top:5px;
    line-height: 0.7;
    margin-right: 10px;
    
}

.share
{
}

.sport
{
    font-family: Oswald;
    font-weight: 500 !important;
}

br { line-height: 50% }